name: develop pre-merge check

on: 
  push:
    branches:
    - develop
    - dev_v[0-9]+
    paths-ignore:
    - 'README.md'
    - '*.dockerfile'
    - '*.json'
    - 'LICENSE'
    - 'pc/**'
  pull_request:
    branches:
    - develop
    - dev_v[0-9]+

jobs:
  cmake-build:
    name: cmake build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
#        os: [macos-10.15, macos-11.0, windows-2019, ubuntu-20.04, ubuntu-18.04]
        os: [macos-10.15, windows-2019, ubuntu-20.04, ubuntu-18.04]
        go-version: [1.14.x, 1.15.x, 1.16.x]
        exclude:
          - os: macos-10.15
            go-version: 1.14.x
#          - os: macos-11.0
#            go-version: 1.14.x
        include:
          - os: windows-2019
            generator: MSYS Makefiles
          - os: macos-10.15
            generator: Unix Makefiles
#          - os: macos-11.0
#            generator: Unix Makefiles
          - os: ubuntu-20.04
            generator: Unix Makefiles
          - os: ubuntu-18.04
            generator: Unix Makefiles

    steps:
    - name: setup go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - uses: actions/checkout@v1
    - name: cmake-generate
      run: cmake -S . -B build -G "${{ matrix.generator }}" -DENABLE_SHARED=on -DENABLE_TESTS=off -DTARGET_RPATH="/usr/local/lib;/usr/local/lib64;./build/Release"
    - name: cmake-build
      run: |
        cmake --version
        cmake --build build --config Release --parallel 2
    - name: go-mod
      run: go mod download
    - name: go-build
      run: go build
    - name: go_test-windows
      if: runner.os == 'Windows'
      run: .\go_test.bat
    - name: go_test-mac
      if: runner.os == 'macOS'
      run: |
        cd build
        sudo make install
        cd ..
        LD_LIBRARY_PATH=/usr/local/lib go test
    - name: go_test-ubuntu
      if: runner.os == 'Linux'
      run: ./go_test.sh
