name: master pre-merge check

on: 
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  cmake-win:
    name: cmake build-win
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
    - name: setup go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.x
    - uses: actions/checkout@v1
    - name: cmake_version
      run: cmake --version
    - name: cmake_generage-windows
      if: matrix.os == 'windows-latest'
      run: cmake -S . -B build -G "MSYS Makefiles"
    - name: cmake_generage-macos
      if: matrix.os == 'macos-latest'
      run: cmake -S . -B build -G "Unix Makefiles"
    - name: cmake_configure
      run: cmake -DENABLE_SHARED=on -DENABLE_TESTS=off --build build
    - name: cmake_build
      run: cmake --build build --config Release
    - name: go_test-windows
      if: matrix.os == 'windows-latest'
      run: .\go_test.bat
    - name: go_test-macos
      if: matrix.os == 'macos-latest'
      run: ./go_test.sh
